.Side-content
  .Side-content__top
    .Top-text
      .Text-name 
        = current_user.name
      .Text-icon
        = link_to edit_user_path(current_user), class: "Text-icon__btn" do
          = icon('fas', 'cog')
        = link_to new_group_path(current_user) , class: "Text-icon__btn" do
          = icon('far', 'edit')
  .Side-content__bottom
    - current_user.groups.each do |group|
      .Text-bottom
        = link_to group_messages_path(group) , class: "Text-bottom__mg" do
          .Text-bottom__group
            = group.name
          .Text-bottom__message
            = group.show_last_message